<table class="table table-bordered" style="width: 100%;">
    <thead>
    <tr>
        <th colspan="2" style="width: 99.9314%; background-color: rgb(159, 226, 191);">
            <div style="text-align: center;"><strong id="isPasted"><span
                    style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">If a response is not received within one minute, kindly conclude the call and return it to the client.</span></strong><span
                    style="font-size: 18px;"><br></span></div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 47.6672%; background-color: rgb(164, 194, 244);"><p style="text-align: left;"><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; color: rgb(0, 0, 0);"><strong>Main Attorney:</strong></span><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>&nbsp;</strong>Attorney Maricela Amezola</span>
        </p>
            <ul>
                <li id="isPasted"
                    style="color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif; font-size: 18px;"><strong>Email:&nbsp;</strong>maricela@amezolalg.com
                </li>
                <li id="isPasted" style="color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><span
                        style="font-size: 18px;"><strong>Phone:</strong> 619-300-5050</span></li>
                <li id="isPasted" style="color: rgb(0, 0, 0);"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px;"><strong><u>Availability to reach out:</u>&nbsp;</strong></span>
                    <ul>
                        <li style="font-family: Verdana, Geneva, sans-serif; font-size: 18px;">Monday - Friday: 9:00 AM
                            - 5:00 PM PST
                        </li>
                    </ul>
                </li>
                <li id="isPasted" style="color: rgb(0, 0, 0);"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px;"><strong><u>Reasons to reach out:</u></strong></span>
                    <ul style="color: initial;">
                        <li id="isPasted"
                            style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Government calls&nbsp;
                        </li>
                        <li id="isPasted"
                            style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            USCIS officers
                        </li>
                        <li id="isPasted"
                            style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Court personnel
                        </li>
                        <li style="font-size: 18px; font-family: Verdana, Geneva, sans-serif;">If a client calls is in
                            the courtroom and is unable to find the attorney
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
        <td style="width: 52.1086%; background-color: rgb(234, 209, 220); vertical-align: top;"><p><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; color: rgb(0, 0, 0);"><strong>Senior Paralegal:</strong></span><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>&nbsp;</strong>Yuriko Reynosa</span>
        </p>
            <ul>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>Email:&nbsp;</strong>yuriko@amezolalg.com</span>
                </li>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>Phone:</strong>&nbsp;</span><span
                        style="font-size: 18px; font-family: Verdana, Geneva, sans-serif; color: rgb(0, 0, 0);">(619) 344-0952&nbsp;</span><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><br></span>
                </li>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Availability to reach out</u><u>:</u>&nbsp;</strong></span>
                    <ul>
                        <li id="isPasted"
                            style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">
                            Monday - Friday: 9:00 AM - 5:00 PM PST
                        </li>
                    </ul>
                </li>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Reasons to reach out:</u></strong></span>
                    <ul>
                        <li id="isPasted"
                            style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Clients calling her back
                        </li>
                        <li id="isPasted"
                            style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Current client with question for Maricela
                        </li>
                        <li id="isPasted"
                            style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Payments
                        </li>
                        <li id="isPasted"
                            style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Complex intake (somebody who is really chatty or has a lot of questions, or wants to talk to
                            someone before the consultation)&nbsp;
                        </li>
                        <li id="isPasted"
                            style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">If
                            someone asks to speak to the attorney
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="width: 47.6672%; background-color: rgb(255, 255, 186);"><p><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; color: rgb(0, 0, 0);"><strong>Paralegal:</strong></span><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>&nbsp;</strong>Valeria Sierra</span>
        </p>
            <ul>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>Email:&nbsp;</strong>valeria@amezolalg.com</span>
                </li>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>Phone:</strong>&nbsp;</span><span
                        style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">(858) 290-6638</span>&nbsp;
                </li>
                <li id="isPasted"><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Availability to reach out</u><u>:</u>&nbsp;</strong></span>
                    <ul>
                        <li style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">
                            Monday - Friday: 9:00 AM - 5:00 PM PST
                        </li>
                    </ul>
                </li>
                <li><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Reasons to reach out:</u></strong></span>
                    <ul>
                        <li style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Clients calling her back
                        </li>
                        <li style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Current client with question for Maricela
                        </li>
                        <li style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Payments
                        </li>
                        <li style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">
                            Complex intake (somebody who is really chatty or has a lot of questions, or wants to talk to
                            someone before the consultation)&nbsp;
                        </li>
                        <li style="color: rgb(0, 0, 0); font-size: 18px; font-family: Verdana, Geneva, sans-serif;">If
                            someone asks to speak to the attorney
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
        <td style="width: 52.1086%; background-color: rgb(204, 204, 204);"><p id="isPasted"><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; color: rgb(0, 0, 0);"><strong>Paralegal:</strong></span><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>&nbsp;</strong>Andrea Cristerna</span>
        </p>
            <ul>
                <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><strong>Email:&nbsp;</strong>andrea@amezolalg.com
                </li>
                <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><strong>Phone:</strong>
                    (858) 290-7046&nbsp;
                </li>
                <li><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Availability to reach out</u><u>:</u>&nbsp;</strong></span>
                    <ul>
                        <li style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">
                            Monday - Friday: 9:00 AM - 5:00 PM PST
                        </li>
                    </ul>
                </li>
                <li><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Reasons to reach out:</u></strong></span>
                    <ul>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Clients calling her back
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Current client with question for Maricela
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Payments
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><p>
                            Complex intake (somebody who is really chatty or has a lot of questions, or wants to talk to
                            someone before the consultation)&nbsp;</p></li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><p>
                            If someone asks to speak to the attorney</p></li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="width: 47.6672%; background-color: rgb(204, 238, 255);"><p id="isPasted"><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; color: rgb(0, 0, 0);"><strong>Legal Asistant:</strong></span><span
                style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong>&nbsp;</strong>Josue Joachin</span>
        </p>
            <ul>
                <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><strong>Phone:</strong>
                    858 290 7040
                </li>
                <li><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Availability to reach out</u><u>:</u>&nbsp;</strong></span>
                    <ul>
                        <li style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);">
                            Monday - Friday: 9:00 AM - 5:00 PM PST
                        </li>
                    </ul>
                </li>
                <li><span
                        style="font-family: Verdana, Geneva, sans-serif; font-size: 18px; color: rgb(0, 0, 0);"><strong><u>Reasons to reach out:</u></strong></span>
                    <ul>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Clients calling him back
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">New
                            clients with a lot of questions, or that want to talk to the attorney before scheduling.&nbsp;
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Difficult intakes.&nbsp;
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">If
                            someone asks for him.
                        </li>
                        <li style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;">
                            Quick questions for paralegals when they are not available.
                        </li>
                    </ul>
                </li>
            </ul>
            <p id="isPasted"><span
                    style="font-size: 18px; color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif;"><u>Email for clients to send documentation:</u> support@amezolalg.com&nbsp;</span>
            </p></td>
        <td style="width: 52.1086%;"><br></td>
    </tr>
    </tbody>
</table><p><br></p>