<p style='box-sizing: border-box; margin: 0px 0px 20px; color: rgb(68, 50, 94); font-family: Roboto,
"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant-ligatures:
normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
white-space: normal; background-color: rgb(245, 245, 245); text-decoration-thickness: initial;
text-decoration-style: initial; text-decoration-color: initial;'><strong><span
style="color: rgb(255, 0,0); font-size: 24px;">&nbsp;{{law_firm}}[Reception &amp; Intake] [CDT]</span></strong>
</p>
<p id="isPasted" style='box-sizing: border-box; margin: 0px 0px 20px; color: rgb(68, 50, 94); font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(245, 245, 245); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
<span style="box-sizing: border-box; font-size: 18px; font-family: Verdana, Geneva, sans-serif; color: rgb(0, 0, 0);">
<span id="isPasted" style="font-size: 24px; font-family: Verdana, Geneva, sans-serif; color: rgb(0, 0,
0);"><strong>E:&nbsp;</strong></span></span><span style="box-sizing: border-box; background-color: rgb(204,
238, 255); font-size: 18px; font-family: Verdana, Geneva, sans-serif; color: rgb(0, 0, 0);">Hi! Thank you for
calling {{law_firm}}. My name is #agent_name#.&nbsp;</span></p><p style='box-sizing: border-box; margin: 0px 0px
20px; color: rgb(68, 50, 94); font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:
18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;
letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2;
word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(245, 245,
245); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color:
initial;'><span style="box-sizing: border-box; background-color: rgb(255, 204, 255); font-size: 18px;
font-family: Verdana, Geneva, sans-serif; color: rgb(0, 0, 0);">How can I assist you today?</span></p><p
style='box-sizing: border-box; margin: 0px 0px 20px; color: rgb(68, 50, 94); font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant-ligatures: normal;
font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start;
text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;
white-space: normal; background-color: rgb(245, 245, 245); text-decoration-thickness: initial;
text-decoration-style: initial; text-decoration-color: initial;'><span style="box-sizing: border-box;
font-size: 14px; color: rgb(124, 112, 107);"><span style="box-sizing: border-box; font-family: Verdana,
Geneva, sans-serif;"><em style="box-sizing: border-box;"><strong>Identify the subject of the
call.</strong></em></span></span></p><p id="isPasted"><span style="font-size: 24px; font-family: Verdana,
Geneva, sans-serif; color: rgb(0, 0, 0);"><strong>S:</strong>&nbsp;</span><span style="font-size: 18px;
font-family: Verdana, Geneva, sans-serif; color: rgb(0, 0, 0); background-color: rgb(187, 222,
251);">&iexcl;Hola! Gracias por llamar a {{law_firm}}. Mi nombre es&nbsp;#agent_name#.</span></p><p><span
style="background-color: rgb(248, 187, 208); font-size: 18px; font-family: Verdana, Geneva, sans-serif;
color: rgb(0, 0, 0);">&iquest;C&oacute;mo puedo ayudarle hoy?</span></p>